<div class="row m-5">

<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm ">

    <div class="card-body">
      <img class="img-fluid"  src="assets/p6.jpg">
      <ul class="list-unstyled mt-3 mb-4">
        <li>30 users included</li>
        <li>15 GB of storage</li>
        <li>Phone and email support</li>
        <li>Help center access</li>
      </ul>
      <button type="button" class="w-100 btn btn-lg btn-primary">Add to cart</button>
    </div>
  </div>
</div>

<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm ">

    <div class="card-body">
      <img class="img-fluid"  src="assets/p5.jpg">
      <ul class="list-unstyled mt-3 mb-4">
        <li>30 users included</li>
        <li>15 GB of storage</li>
        <li>Phone and email support</li>
        <li>Help center access</li>
      </ul>
      <button type="button" class="w-100 btn btn-lg btn-primary">Add to cart</button>
    </div>
  </div>
</div>

<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm ">

    <div class="card-body">
      <img class="img-fluid"  src="assets/p6.jpg">
      <ul class="list-unstyled mt-3 mb-4">
        <li>30 users included</li>
        <li>15 GB of storage</li>
        <li>Phone and email support</li>
        <li>Help center access</li>
      </ul>
      <button type="button" class="w-100 btn btn-lg btn-primary">Add to cart</button>
    </div>
  </div>
</div>

</div>

<div class="row m-5">

<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm ">

    <div class="card-body">
      <img class="img-fluid"  src="assets/p3.jpeg">
      <ul class="list-unstyled mt-3 mb-4">
        <li>30 users included</li>
        <li>15 GB of storage</li>
        <li>Phone and email support</li>
        <li>Help center access</li>
      </ul>
      <button type="button" class="w-100 btn btn-lg btn-primary">Add to cart</button>
    </div>
  </div>
</div>

<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm ">

    <div class="card-body">
      <img class="img-fluid"  src="assets/p3.jpeg">
      <ul class="list-unstyled mt-3 mb-4">
        <li>30 users included</li>
        <li>15 GB of storage</li>
        <li>Phone and email support</li>
        <li>Help center access</li>
      </ul>
      <button type="button" class="w-100 btn btn-lg btn-primary">Add to cart</button>
    </div>
  </div>
</div>

<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm">

    <div class="card-body">
      <img class="img-fluid"  src="assets/p3.jpeg">
      <ul class="list-unstyled mt-3 mb-4">
        <li>30 users included</li>
        <li>15 GB of storage</li>
        <li>Phone and email support</li>
        <li>Help center access</li>
      </ul>
      <button type="button" class="w-100 btn btn-lg btn-primary">Add to cart</button>
    </div>
  </div>
</div>

</div>
