<div class="container-fluid">



  <div class="my-2 mx-5 w-25 ">
    <label for="" class="my-3"> Categories:</label>
    <select class="form-control" (change)="filterCategory($event)">
      <option value="all">All</option>

      <option value="{{option}}" *ngFor="let option of categories" >{{option}}</option>

    </select>


  </div>


</div>

<div class="row m-5">

  <ng-container *ngFor="let item of products">
    <div class="col-md-4">
      <div class="card mb-2rounded-3 shadow-sm ">

        <div class="card-body ">
          <img class="img-fluid w-75 h-75 " src="{{item.image}}">

          <ul class="list-unstyled mt-3 mb-4">
            <li>{{item.title}}</li>
            <li> <strong>Price </strong>{{item.price}}</li>

          </ul>

          <button type="button" class="w-100 btn btn-lg btn-primary" (click)="addtoCart(products)">Add to
            cart</button>
        </div>
      </div>
    </div>
  </ng-container>



</div>
