<ng-container>

  <div class="container-fluid m-5 px-5">

    <div class="card-table">

      <div class=" cart-product">
        <table class="table table-primary ">

          <!-- row -->

          <thead>
            <tr class="table-dark">
              <th scope="col">id</th>
              <th scope="col">Product Image</th>
              <th scope="col">Product Name</th>
              <th scope="col" style="width:25%">Price</th>
              <th scope="col" style=" width: 25%">Quantity</th>
              <!-- <th scope="col">Total</th> -->
              <th scope="col">Action</th>
            </tr>
          </thead>


          <!-- 2nd row -->
           <tbody>
            <tr *ngFor="let item of cartProducts; let index=index">
              <td> <img style="width: 100px;" src="{{item.item .image}}" alt=""> </td>
              <td>{{item.item.title}} </td>

              <!-- <td style="width:25% ;">{{item.item.description}}</td> -->
              <td>{{item.item.price}}</td>
              <td>
                 <div class="quantity">
                 <button class="btn btn-dark mb-2" (click)="addAmount(index)"> +</button>
                  <input class="form-control" type="number" (change)="detectChange()" [(ngModel)]=item.quantity min="1">
                  <button class="btn btn-dark mt-2"(click)="minsAmount(index)" >-</button>
                </div>
              </td>
              <td>{{item.item.price * item.quantity}} EG</td>
              <td>
                <button class=" btn btn-danger  m-2" (click)="deleteProduct(index)"> Delete</button>
              </td>

            </tr>
            <strong> Grand Total : {{total}}</strong>

            <div class="row m-5">

            <button  class=" btn bg-warning m-3" (click)="clearCart()"> Empty Cart</button>
             <button routerLink="/products" class=" btn bg-success m-3"> Shop More</button>
           <button class=" btn bg-danger m-3" (click)="addCart()">Checkout</button>



          </div>
          </tbody>
        </table>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="success"> Your Order has placed successfully</div>
    </div>

  </div>

</ng-container>


<ng-container>

  <div class=" container col-md-7 col-lg-7 order-md-last m-5">
    <div class="card justify-content-between align-items-center mb-3">
      <h5 class="card-title mt-3">My cart</h5>
      <h5 class="card-title mt-3">Add Item Now</h5>
      <div class="card border-0 p-2 ">
        <div class="input-group ">

          <button routerLink="/products" type="submit" class="btn btn-primary  ">Shop Now</button>
        </div>
      </div>
    </div>
  </div>

</ng-container>
